* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
body{
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    filter: blur(20);
    background: rgb(255, 255, 255, 0.2);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 14px 10px;
    border-radius: 8px;
    gap: 0 4px;
    background: #59D5E0;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight:bold;
}
.button:nth-child(3){
    border: white solid 1px;
}

 .button:hover {
    transform: scale(105%);
    transition: all 200ms ease-in-out;
}

section {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 40px auto 40px auto;
}

section form {
    padding: 8px;
    color: white;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section form h1 {
    color: black;
    font-size: 2.6rem;
    font-weight: bold;
}

section form p {
    margin-top: 10px;
    color: black;
}

section form label {
    margin-right: 10px;
    font-weight: bold;
}

section form .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section form .inputs {
    padding: 6px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
}

section form .inputs svg {
    color: gray;
    
}

section form input {
    height: 100%;
    width: 100%;
    border: none;
    outline-style: none;
    font-size: 1rem;
}

section .qr {
    aspect-ratio: auto;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .qr p{
    margin-bottom: 20px;
}


section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

section article .enunciado {
    margin: 20px 0;
    font-size: 2rem;
}

section article .grid {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    gap: 1.5rem;

}

section article .grid .card {
    border: black solid 2px;
    border-radius: 8px;
    text-align: left;
    text-justify: distribute;
    padding: 10px;
}

section article .grid .card h3 {
    margin: 10px 0;
}

.circulo {
    border: black solid 2px;
    border-radius: 100%;
}

.footer {
    background: #211C6A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 100%;
    gap: 8px;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.footer  h1 {
    font-size: 1.4rem;
}

footer a:hover {
    color: #74E291;
    transform: scale(110%);
    transition: all 150ms ease-in-out;
}

@media (width <= 700px) {
    section article .grid {
        grid-template-columns:repeat(1, minmax(0, 1fr));
    }

    .container {
        max-width: 80%;
    }
}